{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="heading-3"> Create a pitch</h3>
    <div class="box">


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/create_pitch">


            <div class="field">

                <textarea name="text" placeholder="Enter pitch" cols="30"
                    rows="10"></textarea>
            </div>
            <div class="field">

                <select required name="category" class="">

                    <option value="">Select a category</option>
                    <option value="1">Technology</option>
                    <option value="2">Business</option>
                    <option value="3">Design</option>
                    <option value="4">Marketing</option>
                    <option value="5">Finance</option>
                    <option value="6">Health</option>
                    <option value="7">Lifestyle</option>
                    <option value="8">Food</option>
                    <option value="9">Travel</option>
                    <option value="10">Sports</option>
                    <option value="11">Music</option>
                    <option value="12">Photography</option>
                    <option value="13">Art</option>
                    <option value="14">Education</option>
                    <option value="15">Other</option>
                </select>

            </div>
            <button type="submit"
                class="button is-block is-info is-large is-fullwidth">Submit</button>
        </form>
    </div>
</div>
{% endblock %}