{% macro displayPitches(pitches) %}


<div class="pitches">
    {% for pitch in pitches %}
    <div class="pitch">
        <h4 class="pitch__username">@{{pitch.user.username}} </h4>
        <p class="pitch__text"> {{pitch.text}} </p>

        <a class="hashtag" href="{{url_for('main.category', category=pitch.category)}} ">
            #{{pitch.category}} </a>

        <div class="pitch__votes">
            <form action="/upvote/{{pitch.id}}" method="POST">
                <span> {{pitch.upvotes|length}} </span>
                <button type="submit" class="btn--upvote">
                    <img class="svg"
                        src="{{url_for('static', filename='img/up-svgrepo-com.svg')}}">
                </button>
            </form>
            <form action="/downvote/{{pitch.id}}" method="POST">
                <span>{{pitch.downvotes| length}} </span>
                <button type="submit" class="btn--upvote">
                    <img class="svg"
                        src="{{url_for('static', filename='img/arrow-download-svgrepo-com.svg')}}">
                </button>
            </form>
        </div>


        <button class="collapsible">{{pitch.comments | length}} Comments</button>

        <div class="content">
            <form action="/create-comment/{{pitch.id}}" method="POST">
                <input required type="text" name="text" placeholder="Add comment">
                <button type="submit" class="btn">
                    Add
                </button>

            </form>
            {% for comment in pitch.comments %}
            <p>{{comment.user.username}}: {{comment.text}} </p>

            {% endfor %}
        </div>


    </div>
    {% endfor %}

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>

</div>


{% endmacro %}