{% extends "base.html" %}

{% block content %}

<div class="box">
    <h3 class="heading-3">Sign Up</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="is-danger">
        {{messages[0]}}.
    </div>
    {% endif %}
    {% endwith %}

    <form method="POST" action="/signup" class="auth">
        <input required type="email" name="email" placeholder="Email" autofocus="">
        <input required type="text" name="username" placeholder="Username" autofocus="">
        <input required type="password" name="password" placeholder="Password">
        <button class="btn">Sign Up</button>
    </form>
</div>

{% endblock %}